:root {
	--background-color: #121717;
	--text-color: #FFFFFF;
	--trim-color: #666666;
	--itemtitle-color: #15B48C;
	--navbar-color: black;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

div.bodydiv{
	overflow-x: hidden;
}

div.bodydiv > div.container {
	overflow-x: auto;
}

/* NAVBAR STUFF */

nav.navbar {
	background-color: var(--navbar-color);
}

div.navbar-header {
	position: relative;
	margin-left: 30px !important;
}

.topbar {
	position: absolute;
	height: 135px;
	left: -190px;
	z-index:-1;
}

div.topbar {
	width: 1581px;
	height: 50px;
	background : linear-gradient(to right, 
		var(--navbar-color) 0%, 
		transparent 5%,
		transparent 80%,
		var(--navbar-color) 100%);
}

a.navbar-brand {
	min-width: 100px;
	margin-left: 0px !important;
	margin-right: 31px;
}

@media only screen and (min-width: 768px) {
	ul.navbar-nav li {
		width: 136px;
		transform: skew(-18deg);
		transition: 0.25s ease-in-out;
	}
	ul.navbar-nav li:first-child {
		width: 131px;
	}

	ul.navbar-nav li:hover {
		background-color: rgba(66, 200, 255, 0.3);
		box-shadow: 0 0 10px rgba(66, 200, 255, 0.3);
	}

	ul.navbar-nav li a {
		text-align: center;
		white-space: nowrap;
		transform: skew(18deg);
	}
}
div.navbar-collapse {
	border: none;
	box-shadow: none;
}

/* FORMS STUFF */

fieldset {
	max-width: 400px;
	margin: auto;
}

fieldset > * {
	margin: 3px 0px;
}

.input-group select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

#sortdir + label:before {
	content:"▼";
}
#sortdir:checked + label:before {
	content:"▲";
}
#sortdir {
	display:none;
}
.input-group-addon label {
	margin: 0;
}