
body {
	float: left;
	background-color: #23272A;
	color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 28px;
}

:before, :after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	vertical-align: middle;
}

.match-table td, .match-table th {
	padding-right: 20px;
}
.match-table {
	margin-top: 10px;
}
.match-table th {
	background-color: #2C2F33;
	text-align: left;
}
.match-table td:last-child, .match-table th:last-child {
	padding-right: 0;
}
.match-table tr:nth-child(5) {
	border-bottom: 6px solid #2C2F33;
}
.money-row {
	color: yellow;
}
.match-table img {
	height: 48px;
}
.match-table .items img {
	width: 66px;
}
.match-table tbody {
	border: 6px solid #2C2F33;
}

.match-title {
	vertical-align: middle;
	height: 64px;
	line-height: 64px;
	font-size: 48px;
	white-space: nowrap;
	font-weight: bold;
}

.match-title svg {
	vertical-align: middle;
	width: 64px;
	height: 64px;
}

svg.radiant {
	-webkit-filter: drop-shadow(0 0 10px green);
	filter: drop-shadow(0 0 10px green);
	fill: white;
}

svg.dire {
	-webkit-filter: drop-shadow(0 0 10px red);
	filter: drop-shadow(0 0 10px red);
	fill: black;
}
