.table-header-rotated th.row-header{
	width: auto;
}

.table-header-rotated td{
	width: 40px;
	border: 2px solid #888888;
	padding: 3px !important;
	vertical-align: middle;
	text-align: right;
}

.table-header-rotated th.rotate-45{
	height: 120px;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
	position: relative;
	vertical-align: bottom;
	padding: 0;
	font-size: 12px;
	line-height: 0.8;
	left: 60px;
	transform: skew(-45deg, 0deg);
}

.table-header-rotated th.rotate-45:hover{
	color: grey;
}

.table-header-rotated th.rotate-45 > div{
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	overflow: hidden;
	border: 1px solid #888888;
	vertical-align: bottom;
}

.table-header-rotated th.rotate-45 span {
	transform: skew(45deg, 0deg) rotate(-45deg);
	position: absolute;
	bottom: 50px; /* 40 cos(45) = 28 with an additional 2px margin*/
	left: -50px; /*Because it looked good, but there is probably a mathematical link here as well*/
	display: inline-block;
	width: 141px; /* 120 / cos(45) - 40 cos (45) = 85 where 120 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
	text-align: left;
	white-space: nowrap; /*whether to display in one line or not*/
}

table.sortable th  {
	cursor: pointer;
}

table.sortable th.rotate-45.down > div {
	background: grey; /* For browsers that do not support gradients */
	background: linear-gradient(grey, #121717);
}
table.sortable th.rotate-45.up > div {
	background: #121717; /* For browsers that do not support gradients */
	background: linear-gradient(#121717, grey);
}