div.response {
	max-width: 400px;
	margin: 10px auto;
}

div.soundtitle {
	color: var(--itemtitle-color);
	font-weight: bold;
	font-size: 125%;
	height: 32px;
	line-height: 32px;
	margin: 5px;
}

div.soundtitle div {
	vertical-align: top;
	display: inline-block;
}

div.soundtitle img {
	width: 24px;
	height: 24px;
}




div.soundbar {
	padding: 5px;
}

div.soundbar button.btn {
	vertical-align: middle;
	padding: 0px;
}

div.soundbar button.btn img {
	width: 32px;
	height: 32px;
}