div.herocard {
	display: inline-block;
	transition: all .2s ease-in-out;
}

div.herocard:hover {
	transform: scale(1.2);
}

div.herocard a img {
	width: 71px; /* 71 53 */
	height: 94px; /* 94 70 */
}

h1 {
	display: inline-block;
	margin: 10px;
}

div.row {
	padding: 5px;
}

.renderjson {
	background-color: var(--background-color);
	color: var(--text-color);
}

.renderjson a { 
	text-decoration: none; 
}

.renderjson .syntax { 
	color: grey; 
}

.renderjson .number { 
	color: cyan; 
}

.renderjson .key { 
	color: lightblue; 
}