.table-header-rotated {
	width: auto;
}

.table-header-rotated th.row-header{
	width: auto;
}

.table-header-rotated td{
	width: 40px;
	border: 2px solid var(--trim-color);
	padding: 5px !important;
	vertical-align: middle;
	text-align: center;
}

.table-header-rotated th.rotate-45{
	transform: skew(-45deg, 0deg);
	height: 120px;
	min-width: 40px;
	position: relative;
	padding: 0;
	font-size: 15px;
	line-height: 0.8;
	left: 60px;
}

.table-header-rotated th.rotate-45:hover{
	color: grey;
}

.table-header-rotated th.rotate-45 > div{
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	overflow: hidden;
	border: 1px solid var(--trim-color);
}

.table-header-rotated th.rotate-45 span {
	transform: skew(45deg, 0deg) rotate(-45deg);
	position: absolute;
	top: 50px; /* 40 cos(45) = 28 with an additional 2px margin*/
	right: -50px; /*Because it looked good, but there is probably a mathematical link here as well*/
	display: inline-block;
	width: 141px; /* 120 / cos(45) - 40 cos (45) = 85 where 120 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
	text-align: left;
	white-space: nowrap; /*whether to display in one line or not*/
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;
  user-select: none;
}

table.sortable th  {
	cursor: pointer;
	border-color: #666666 !important;
}

table.sortable th.rotate-45.down > div {
	background: grey; /* For browsers that do not support gradients */
	background: linear-gradient(grey, var(--background-color));
}
table.sortable th.rotate-45.up > div {
	background: var(--background-color); /* For browsers that do not support gradients */
	background: linear-gradient(var(--background-color), grey);
}
